.donutCard { /* stylelint-ignore */
  display: flex;
  align-items: center;
  background-color: transparent;
  position: absolute;
  bottom: 5px;
  right: 45px;
}

.items {
  flex: 1;
  margin-right: 5px;
  height: 100%;
}

.item {
  width: 100%;
  text-align: right;
  font-size: 0.7vw;
}

.chart {
  flex: 1;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.highlight {
  text-align: center;
}

.highlightTitle {
  font-size: 0.7vw;
}

.highlightValue {
  font-size: 1vw;
}
