.personaTable { /* stylelint-ignore */
  min-width: 768px;
}

.personaRow:nth-of-type(even) {
  display: flex;
  justify-content: space-around;
  height: 5vw;
  min-height: 51.2px;
  background-color: #FBFCFE;
  overflow: hidden;
  border-bottom: 1px solid #CBCACF;
}

.personaRow:nth-of-type(odd) {
  display: flex;
  justify-content: space-around;
  height: 5vw;
  min-height: 51.2px;
  overflow: hidden;
  border-bottom: 1px solid #CBCACF;
}
