.personaTable { /* stylelint-ignore */
}

.personaRow:nth-of-type(even) {
  display: flex;
  justify-content: space-around;
  height: 5vw;
  min-height: 60px;
  background-color: #FBFCFE;
  overflow: hidden;
  border-bottom: 1px solid #CBCACF;
}

.personaRow:nth-of-type(odd) {
  display: flex;
  justify-content: space-around;
  height: 5vw;
  min-height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #CBCACF;
}
