@media screen and (min-width: 1025px) {
  .textCell { /* stylelint-ignore */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ADB6BB;
    font-size: 0.8vw;
    height: 100%;
  }

  .text {
    padding: 0 10%;
    font-size: 0.8vw;
  }
}

@media screen and (max-width: 1024px) {
  .textCell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ADB6BB;
    font-size: 8.192px;
    height: 100%;
    overflow: hidden;
  }

  .text {
    padding: 0 10%;
    font-size: 8.192px;
  }
}
