.movieList { /* stylelint-ignore */
  display: flex;
  flex-direction: column;
}

.movieListItem {
  padding: 2%;
  display: flex;
}

.poster {
  height: 0;
  width: 20%;
  padding-bottom: 30%;
  background-size: cover;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.content {
  box-sizing: border-box;
  width: 80%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  font-size: 1.5vw;
}

.desc {
  padding: 0 0 2%;
  color: #6E6E6E;
  font-size: 1vw;
}
