.personaTableHeader { /* stylelint-ignore */
  display: flex;
  justify-content: space-around;
  height: 4vw;
  overflow: hidden;
  border-top: 1px solid #CBCACF;
  border-bottom: 1px solid #CBCACF;
}

.colHeader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #346692;
  font-size: 1vw;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 3%;
  border-left: 0.4vw solid transparent;
  border-right: 0.4vw solid transparent;
  border-top: 0.8vw solid #346692;
}
