.formatTextCell { /* stylelint-ignore */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ADB6BB;
  height: 100%;
}

.icon {
  width: 2em;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mainText {
  font-size: 1em;
}

.subText {
  font-size: 0.8em;
}

.number {
  font-size: 1.4em;
}
