.formatTextCell { /* stylelint-ignore */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ADB6BB;
  height: 100%;
}

.icon {
  width: 1.6vw;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mainText {
  font-size: 1.5vw;
}

.subText {
  font-size: 1.5vw;
}

.number {
  font-size: 2vw;
}

.img {
  width: 100%;
}
