@media screen and (min-width: 1025px) {
  .personaRow { /* stylelint-ignore */
    display: flex;
    justify-content: space-around;
    height: 5vw;
    min-height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #CBCACF;
  }

  .cellWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .highlight {
    font-size: 1.5vw;
    color: #000;
  }
}

@media screen and (max-width: 1024px) {
  .personaRow { /* stylelint-ignore */
    display: flex;
    justify-content: space-around;
    height: 5vw;
    min-height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #CBCACF;
  }

  .cellWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .highlight {
    font-size: 15.36px;
    color: #000;
  }

  .posterDiv {
    width: 175px !important;
  }
}
