.personaRow { /* stylelint-ignore */
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: #FBFCFE;
  overflow: hidden;
  border-top: 1px solid #CBCACF;
  border-bottom: 1px solid #CBCACF;
}

.cellWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
