.chartCard {
  flex: 1;
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #888;
}

.body {
  padding: 15px 20px;
  flex: 1;
  position: relative;
}

.header {
  background-color: #F8F8F8;
  padding: 15px 20px;
  line-height: 1em;
}

.chartHeader {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.chartDescription {
  font-weight: 300;
  font-size: 0.6em;
}

.loading {
  text-align: center;
}
