.chartCard {
  flex: 1;
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #888;
}

.body {
  padding: 1% 2%;
  flex: 1;
  position: relative;
  overflow: auto;
}

.header {
  background-color: #F8F8F8;
  padding: 1% 2%;
}

.chartHeader {
  text-transform: uppercase;
  font-size: 1.5vw;
  margin: 0;
}

.chartDescription {
  font-size: 0.8vw;
}

.loading {
  text-align: center;
}
